#root{
  display: flex;
  justify-content: center;
  background: beige;
}

.App {
  display: flex;
  flex-direction: column;
}

.header__container {
  display: flex;
}

.item__container {
  margin: 10px;
}
.films {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}